#app ul {
  list-style: none;
}

#app li > span.done {
  text-decoration: line-through;
}

[v-cloak] {
  display: none;
}

button {
  background-color: #fff;
}

button:hover {
  background-color: #666;
  color: #fff;
}

.container {
  width: 100vw;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.dark {
  background-color: #333;
}

.title {
  font-size: 40px;
  padding: 20px;
}

input[type='text'] {
  width: 200px;
  margin: 20px;
}

li {
  padding: 10px;
}
