<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>TODO List</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container dark">
      <div id="app">
        <div class="title">TODO List</div>
        <div>
          <form @submit.prevent>
            <input type="text" v-model="newItem" />
            <button @click="addItem()">Add</button>
          </form>
          <ul v-cloak>
            <li v-for="(todo, index) in todos">
              <input type="checkbox" v-model="todo.isDone" />
              <span :class="{ done: todo.isDone }">{{ todo.item }}</span>
              <button @click="deleteItem(index)">Delete</button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
